@import '../base-styles.scss';

.footer-container {
  width: 1240px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .copyright {
    font-size: 1rem;
    color: #333333;
    text-align: center;

    a {
      color: #444444;
    }

    a:hover {
      color: #455789;
      box-shadow: 0 0.5rem 0.5rem -0.4rem #CECECE;
    }

    &:before {
      content: '©';
    }
  }
}

.rsschool {
  width: 83px;
  height: 30px;
  margin-left: 20px;

  &:hover,
  &:focus {
    box-shadow: 0 0.5rem 0.5rem -0.4rem #CECECE;
  }

  &:hover .rsschool-paint,
  &:focus .rsschool-paint{
    fill: $textActive;
  }
}
