@import 'base-styles.scss';

.button  {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html {
  font-family: $rusFont;
  font-weight: 300;
}

body {
  margin: 0;
}

.header-wrapper{
  border-bottom: 1px solid #535353;
}

.footer-wrapper {
  border-top: 1px solid #535353;
}

.white {
  background-color: $bgTColorWhite;
}

.main-container{
  width: 100%;
  min-height: calc(100vh - 130px);
  box-sizing: border-box;
  overflow: hidden;
}

html {
  font-size: 16px;
}

.shadow-overlay {
  width: 100%;
  height: 100%;
  background: #181e30;
  opacity: 0.6;
  z-index: 90;
  top: 0;
  position: fixed;
}

.hidden {
  display: none;
}

.button {
  color: $bgTColorWhite;
  background: $bgTColorBlack;
  padding: 0.7rem 1.4rem;
  border: 0;
  font-size: 0.9rem;
  border-radius: 2rem;
  cursor: pointer;
}

.button_light {
  background: $bgTColorWhite;
  outline: 1px solid $bgTColorBlack;
  color: $bgTColorBlack;
}


.button:hover {
  background: $colorBtnHov;
  outline: 1px solid $bgTColorBlack;
  color: $bgTColorBlack;
}