.wrapper {
  width: 100%;
  box-sizing: border-box;
}


.main-container, footer, header {
  width: 1200px;
  margin: auto;
}

html {
  font-size: 16px;
}

.shadow-overlay {
  width: 100%;
  height: 100%;
  background: #181e30;
  opacity: 0.6;
  z-index: 90;
  top: 0;
  position: fixed;
}

.hidden {
  display: none;
}