$rusFont: Arial, Helvetica, sans-serif;
$mainText: #000;
$textActive: #FF0000;
$grayBg: #D9D9D9; 
$grayWh: #ffffff; 
$colorBtnHov: #E3FB8F; 
$buttonText: #FFF;


// @font-face {
// 	font-family: 'SuisseIntl';
// 	src: url('fonts/SuisseIntl-Regular.eot');
// 	src: local('☺'), url('fonts/SuisseIntl-Regular.woff') format('woff'), url('fonts/SuisseIntl-Regular.ttf') format('truetype'), url('fonts/SuisseIntl-Regular.svg') format('svg');
// 	font-weight: normal;
// 	font-style: 400;
// }

// @font-face {
// 	font-family: 'SuisseIntl';
// 	src: url('../../assets/fonts/SuisseIntl-Book.eot');
// 	src: local('☺'), url('../../assets/fonts/SuisseIntl-Book.woff') format('woff'), url('../../assets/fonts/SuisseIntl-Book.ttf') format('truetype'), url('../../assets/fonts/SuisseIntl-Book.svg') format('svg');
// 	font-weight: medium;
// 	font-style: 500;
// }