@import '../common/base-styles.scss';

.chartdiv {
  width: 60vw;
  height: 400px;
}

.chartdiv-long {
  width: 900px;
  height: 400px;
}

.stat-container {
  padding: 1rem 2% 1rem;
  width: 96%;
  height: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-block {
  max-width: 60vw;
}

.stat-long-block {
  max-width: 1000px;
}

.day-stat {
  display: flex;
  gap: 2rem;
  max-width: 650px;
  margin: auto;
  align-items: center;
  flex-direction: column;
}