$icons-path: '../../../../assets/images/png/';

.popup-audio {
  position: absolute;
  z-index: 110;
  width: 50vw;
  height: 70vh;
  right: calc(50% - 25vw);
  top: calc(50% - 35vh);
  background: $bgColorGames;
  border-radius: 1rem;
  border: 1px solid $btnColorUnit6;
  display: flex;
  justify-content: center;
  align-content: center;
}
.popupAudio {
  padding: 1rem;
  width: 45vw;
  height: 90%;
  margin: auto;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
}

.result-info-value {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result-description {
  font-family: $rusFont;
  font-size: 1.2rem;
  margin: 1rem auto 2rem;
}

.value-pop {
  color: progress-circular;
  z-index: 101;
}

.out-pop {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $trueColorGames;
  border-radius: 50%;
}

.container-pop {
  width: 90px;
  height: 90px;
  padding: 2px;
  background: $bgTColorWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.progress-circular__pop {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: conic-gradient($falseColorGames 0deg, $circleBgColor 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  &::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: $bgTColorWhite;
  }
}

.head-result {
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  .result-value {
    font-family: $enFont;
    font-size: 1.8rem;
    border-bottom: 3px solid $bgColorGames;
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $bgTColorBlack;
      transition: ease-in-out 0.3s;
    }
  }
  .result-words {
    font-family: $enFont;
    font-size: 1.8rem;
    border-bottom: 3px solid $bgColorGames;
    &:hover {
      cursor: pointer;
      border-bottom: 3px solid $bgTColorBlack;
      transition: ease-in-out 0.3s;
    }
  }
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .hr-line {
    width: 45vw;
  }
}

.footer-result {
  display: flex;
  justify-content: space-around;

  .result-repeat {
    padding: 10px 15px;
    border-radius: 1.3rem;
    border: 2px solid $iconColorComplex;
    cursor: pointer;
    font-family: $enFont;
    font-size: 1.6rem;
    font-weight: bold;
    &:hover {
      background-color: $iconColorComplex;
      border: 2px solid $iconColorComplex;
      color: $bgTColorWhite;
    }
  }

  .result-exit {
    padding: 10px 15px;
    border-radius: 1.3rem;
    border: 2px solid $iconColorStudied;
    cursor: pointer;
    font-family: $enFont;
    font-size: 1.6rem;
    font-weight: bold;
    &:hover {
      background-color: $iconColorStudied;
      border: 2px solid $iconColorStudied;
      color: $bgTColorWhite;
    }
  }
}

.result-info-words {
  height: 70%;
}

.result-correct {
  list-style: none;
  width: 80%;
  height: 30%;
  margin: 0 auto;
  overflow-y: scroll;
  margin-bottom: 20px;
  .correct-item,
  .incorrect-item {
    display: flex;
    align-items: center;
  }

  span {
    text-align: center;
    margin: auto;
  }
}

.result-incorrect {
  list-style: none;
  width: 80%;
  height: 30%;
  margin: 0 auto;
  overflow-y: scroll;

  .incorrect-item {
    display: flex;
    align-items: center;
  }

  span {
    text-align: center;
    margin: auto;
  }
}

.inside-progress {
  z-index: 100;
}

.studied-wrld,
.unstudied-wrld {
  font-family: $rusFont;
  font-size: 1.2rem;
  margin: 1rem auto 1rem;
}

.img-voice__res {
  height: 40px;
  width: 40px;

  background-size: 50%;
  border-radius: 50%;
  background-image: url('#{$icons-path}up_volume.png');
  background-position: center center;
  background-repeat: no-repeat;

  cursor: pointer;

  &:active {
    background-color: $trueColorGames;
    transition: ease-in-out 0.3s;
  }
}

// .result-item {
//   display: flex;
//   flex-wrap: wrap;
// }

.eng-word,
.transcription,
.rus-word {
  width: 25%;
  font-family: $rusFont;
  font-size: 1rem;
}
