@import '../../view/base-styles.scss';

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.textbook-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 200px;
  height: 115px;
  border-radius: 7px;
}

.unit-1 {
  .textbook-card {
    background: $bgColorUnit1;
  }
  .unit-button.current-unit
  .current-page {
    background-color: $btnColorUnit1;
    pointer-events: none; 
  }
}

.unit-2 {
  .textbook-card {
    background: $bgColorUnit2;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit2;
    pointer-events: none; 
  }
}

.unit-3 {
  .textbook-card {
    background: $bgColorUnit3;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit3;
    pointer-events: none; 
  }
}

.unit-4 {
  .textbook-card {
    background: $bgColorUnit4;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit4;
    pointer-events: none; 
  }
}

.unit-5{
  .textbook-card {
    background: $bgColorUnit5;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit5;
    pointer-events: none; 
  }
}

.unit-6{
  .textbook-card {
    background: $bgColorUnit6;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit6;
    pointer-events: none; 
  }
}


.paging {
  margin: 10px 0;
}

.paging__prev:disabled,
.paging__next:disabled {
  pointer-events: none; 
  background-color: $bgTColorGrey;
  color: $bgTColorBlack;
  border: 1px solid $bgTColorBlack;
}

.difficulty {
  width: 30px;
  height: 40px;
  background-color: white;
}

.difficulty.hard {
  background-color: $iconColorComplex;
}

.difficulty.easy {
  background-color: $iconColorStudied;
}

