@import '../../view/base-styles.scss';

.button-pag {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

.section-word {
  padding: 0 2.5rem;
}

.wrapper-sec-word {
  padding-top: 105px;
  max-width: 1240px;
  margin: auto;
  width: 100%;
}

.title-sec {
  font-size: 2.5rem;
}

.units {
  margin: 2rem 0;

  .button {
    color: $bgTColorWhite;
    background: $bgTColorBlack;
    padding: 0.6rem 1rem;
    border: 0;
    font-size: 0.9rem;
    border-radius: 2rem;
    cursor: pointer;
  }
}

.wrapper-paging {
  display: flex;
  justify-content: space-between;
}

.btn-to-menu {
  text-align: left;
  height: 40px;
  width: 80px;
  background-image: url('../../../assets/icons/arrow-right.svg');
  border: 1px solid $bgTColorBlack;
  background-color: $bgTColorWhite;
  background-size: 20px;
  background-position:  calc(100% - 4px);
  background-repeat: no-repeat;
}

.paging {
  display: flex;
  gap: 7px;

  .button-pag {
    color: $bgTColorBlack;
    background: $bgTColorWhite;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: 1px solid $bgTColorBlack;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .paging__next {
    background-image: url('../../../assets/icons/arrow-right.svg');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .paging__prev {
    background-image: url('../../../assets/icons/arrow-left.svg');
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.button-pag:hover {
  background-color: $colorBtnHov;
}


.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px
}

.textbook-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 80px;
  border-radius: 7px;
  padding: 12px 7px 7px 12px;
  display: flex;
  justify-content: start;

  .wordEn {
    font-family: $enFont;
    font-weight: 500;
    font-size: 1.1rem;
  }
  .wordRu {
    font-family: $rusFont;
    font-weight: 300;
    font-size: 0.8rem;
  }

  .label {
    position: absolute;
    width: 20px;
    height: 20px;
    -webkit-mask: url('../../../assets/icons/icon-dif.svg') no-repeat;
    top: 0px;
    right: 10%;
    -webkit-mask-size: auto 20px;
  }
  .label.hard {
    background-color: $iconColorComplex;
  }
  .label.easy {
    background-color: $iconColorStudied;
  }
}

.wrapper-difficulty {
  display: flex;
  gap: 7px;
  margin-left: auto;
  margin-top: auto;
  .difficulty {
    width: 30px;
    padding: 4px;
    font-size: 0.8rem;
    padding: 2px 4px 2px 4px;
    border-radius: 25px;
    border: 1px solid $bgTColorBlack;
    background-color: $bgTColorWhite;
    background-size: 12px;
    background-position:  calc(100% - 4px);
    background-repeat: no-repeat;
    display: none;
  }
  .vic {
    background-image: url('../../../assets/icons/icon-vic.svg');
  }
  .loss {
    background-image: url('../../../assets/icons/icon-loss.svg');
  }
  .difficulty.vic.play {
    display: block;
  }
  .difficulty.loss.play {
    display: block;
  }
}

.unit-1 {
  .textbook-card {
    background: $bgColorUnit1;
  }
  .unit-button.current-unit,
  .current-page {
    background-color: $btnColorUnit1;
    pointer-events: none; 
    color: $bgTColorWhite;
    border: 1px solid $btnColorUnit1;
  }
}

.unit-2 {
  .textbook-card {
    background: $bgColorUnit2;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit2;
    pointer-events: none; 
  }
}

.unit-3 {
  .textbook-card {
    background: $bgColorUnit3;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit3;
    pointer-events: none; 
  }
}

.unit-4 {
  .textbook-card {
    background: $bgColorUnit4;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit4;
    pointer-events: none; 
  }
}

.unit-5{
  .textbook-card {
    background: $bgColorUnit5;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit5;
    pointer-events: none; 
  }
}

.unit-6{
  .textbook-card {
    background: $bgColorUnit6;
  }
  .unit-button.current-unit,
  .current-page  {
    background-color: $btnColorUnit6;
    pointer-events: none; 
  }
}


.paging {
  margin: 10px 0;
}

.paging__prev:disabled,
.paging__next:disabled {
  pointer-events: none; 
  background-color: $bgTColorGrey;
  color: $bgTColorBlack;
  border: 1px solid $bgTColorBlack;
}




