@import '../../view/base-styles.scss';

.header-container {
  width: 1200px;
  margin: auto;
}

h1 {
  font-style: italic;
}

h1:hover {
  color: #455789;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
}

.main-nav__item {
  font-family: $rusFont;
  display: inline-block;
  padding: 1.5rem;
  text-decoration: none;
  color: $mainText;
  opacity: 1;
  cursor: pointer;
}

.main-nav__item_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.main-nav__item_active {
  color: $textActive;
}

.main-nav__item_disabled:hover {
  text-decoration: none;
}

.main-nav__item:hover {
  text-decoration: underline;
}

.main-nav {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1279px) {
  
  .header-container {
    width: 92%;
    padding: 0 30px;
  }

}

@media screen and (max-width: 767px) {
  
  .header-container {
    width: 94%;
    padding: 0 10px;
  }

}