@import '../../view/base-styles.scss';

.header-container {
  width: 1240px;
  margin: auto;
}

h1 {
  font-family: $rusFont;
  font-size: 20px;
  margin: 0;
}

.logo {
  text-decoration: none;
  color: $mainText;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.logo:hover {
  color: $textActive;
}

.circle {
  height:0.5rem;
  width:0.5rem;
  border-radius: 0.3rem;
  display: inline-block;
  background-color: $mainText;
}

.logo:hover .circle {
  background-color: $textActive;
}

header {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
}

.main-nav__item {
  font-family: $rusFont;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: $mainText;
  opacity: 1;
  cursor: pointer;
}

.main-nav__item_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.main-nav__item_active {
  color: $textActive;
}

.main-nav__item_disabled:hover {
  text-decoration: none;
}

.main-nav__item:hover {
  text-decoration: underline;
}

.main-nav {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1279px) {
  
  .header-container {
    width: 92%;
    padding: 0 30px;
  }

}

@media screen and (max-width: 767px) {
  
  .header-container {
    width: 94%;
    padding: 0 10px;
  }

}