@import '../base-styles.scss';

.start-sprint,
.card-sprint,
.results-sprint {
  width: 400px;
  height: 250px;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem auto 1rem;
}

.results-sprint {
  overflow: scroll;
  text-align: left;
  border: 1px solid $btnColorUnit1;
}

.level-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem 1rem;
  margin-top: 1rem;
}

.level-select__button {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
  color: $bgTColorBlack;
}

.level-1 {
  background: $bgColorUnit1;
  border: 1px solid $btnColorUnit1;  
}

.level-2 {
  background: $bgColorUnit2;
  border: 1px solid $btnColorUnit2;  
}

.level-3 {
  background: $bgColorUnit3;
  border: 1px solid $btnColorUnit3;  
}

.level-4 {
  background: $bgColorUnit4;
  border: 1px solid $btnColorUnit4;  
}

.level-5 {
  background: $bgColorUnit5;
  border: 1px solid $btnColorUnit5;  
}

.level-6 {
  background: $bgColorUnit6;
  border: 1px solid $btnColorUnit6;  
}

.decision_button {
  color: $bgTColorWhite;
  padding: 0.7rem 1.4rem;
  border: 0;
  font-size: 0.9rem;
  border-radius: 2rem;
  cursor: pointer;
}

.decision_button__false {
  background: $iconColorComplex;
}

.decision_button__true {
  background: $iconColorStudied;
}

.start-countdown {
  margin-top: 1rem;
}

.decision {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.play-again {
  margin-top: 10px;
}
