@import '../base-styles.scss';

.sprint-container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bgColorGames;
}

.card-sprint,
.start-sprint,
.results-sprint {
  width: 700px;
  background: #FFF;
  height: 350px;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  margin: 10vh auto 1rem;
  border: 1px solid $bgTColorBlack;
}

.card-translate {
  text-transform: capitalize;
  font-family: $rusFont;
  font-size: 1.3rem;
  margin: 0.6rem 0 1.2rem;
}

.card-word {
  text-transform: capitalize;
  font-family: $enFont;
  font-size: 2rem;
  margin: 1rem 0;
}

.point-multiplier {
  display: flex;
  width: 70px;
  gap: 0.5rem;
  margin: 1rem auto 0.5rem;

  .circle {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.5rem;
    background: $circleBgColor;
  }

  .circle__active {
    background: $circleActBgColor;
  }
}

.success-count {
  font-size: 0.9rem;
}

#score {
  font-size: 1.8rem;
  font-family: $enFont;
}

.border-true {
  outline: 5px solid $trueColorGames;
  transition: all 0.5s ease;
  opacity: 0.8;
}

.border-false {
  outline: 5px solid $falseColorGames;
  transition: all 0.5s ease;
  opacity: 0.8;
}

.start-sprint {
  p {
    margin: 1rem 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  .select-label {
    margin-top: 3rem;
  }
}

.results-sprint {
  overflow: scroll;
  text-align: left;

  hr {
    background: #CECECE;
  }
}

.unit-select {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  justify-content: space-evenly;
  gap: 1rem 0rem;
  margin: 2rem auto;
}

.unit-select__button {
  display: block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border-radius: 2rem;
  color: $bgTColorWhite;
}

.unit-sprint-1 {
  background: $btnColorUnit1;
}

.unit-sprint-2 {
  background: $btnColorUnit2; 
}

.unit-sprint-3 {
  background: $btnColorUnit3;  
}

.unit-sprint-4 {
  background: $btnColorUnit4; 
}

.unit-sprint-5 {
  background: $btnColorUnit5;  
}

.unit-sprint-6 {
  background: $btnColorUnit6;  
}

.arr {
  display: block;
  width: 25px;
  height: 15px;
}

.decision_button {
  background: $bgTColorWhite;
  padding: 0.6rem 1.2rem;
  border: 0;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.decision_button__false {
  color: $falseColorGames;
  border: 2px solid $falseColorGames;

  .arr {
    transform: rotate(180deg);
    margin-right: 0.5rem;
  }

  use {
    fill: $falseColorGames;
  }
}

.decision_button__true {
  color: $trueColorGames;
  border: 2px solid $trueColorGames;

  .arr {
    margin-left: 0.5rem;
  }

  use {
    fill: $trueColorGames;
  }
}

.start-countdown {
  margin-top: 1rem;
}

.decision {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.play-again {
  margin-top: 0.8rem;
}

.results-line {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.results-audio {
  width: 24px;
  height: 24px;
  background: url(../../../assets/icons/audio.svg) ;
  cursor: pointer;
}